*{
	margin:0;
	padding: 0;
}

html,body{
	height: 100%;
}

.body{
	min-height: 100%;
	margin-bottom: -10px;
	background-color: #fafafa;
}
/*.body::after{
	content: "";
	display: block;
	height: 70px;
}*/

.footer{
	width: 100%;
	height: 60px;
	background-color: #e9e9e9;
	font-size: 13px;
}

.footer hr{
	margin-top: 0;
	margin-bottom: 10px;
}
.general-nav-ul{
	display: inline-block;
	width: 100%;
}
.general-nav-ul li{
	display: inline-block;
}

#navbarNav.show ul, #navbarNav.collapsing ul{
	display: flex;
}

.content{
	margin: 15px 20px;
}

.hidden{
	display: none;
}

.td-actions .btn{
	cursor: pointer;
}

.th-actions{
	min-width: 115px;
}

.th-datetime{
	min-width: 100px;
}

#users_log td{
	vertical-align: middle;
	font-size: 13px;
}

#modal-user th, #modal-user td{
	text-align: center;
}

#modal-user td:nth-child(1){
	font-weight: 600;
}
#modal-user th:nth-child(2){
	width: 300px
}

.wrap-table{
	width: 100%;
	overflow: auto;
}

.half-opacity{
	opacity: 0.5;
}

#add-user{
	cursor: pointer;
	font-weight: 600;
}

#datepicker{
	width: 120px;
	height: 30px;
	text-align: center;
}

.date{
	float: right;
	margin-right: 60px;
	width: 100px;
	cursor: pointer;
}

.ta-label{
	height: 50px;
	width: 100%;
    text-align: center;
    font-weight: 600;
}

.ta textarea{
	width: 100%;
	height: 400px;
	resize: none;
}

.file-read label{
	font-size:13px;
}

#calculate{
	margin-top: 50px;
}

#result{
	width: 100%;
	margin-top: 20px;
}

.var-input{
	width: 100px;
	display: inline-block;
}

.result{
	margin: 10px 0px;
}

.step-block{
	border: 1px solid #aaa;
    border-radius: 5px;
    padding: 10px 5px;
    margin: 5px;
}

.clear-btn{
	width: 100%;
	height: 25px;
	cursor: pointer;
}